{{ form_start(form, {'attr': {'id': 'store-edit-form', 'data-turbo-stream': 'true', 'data-controller': 'store-form'}}) }}
<div id="store-edit-form-errors">
    {{ form_errors(form) }}
</div>

<div class="grid grid-cols-1 gap-4">
    <div>
        {{ form_label(form.name, 'Nome:', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.name, {
            'attr': {
                'placeholder': 'Informe o Nome',
                'class': 'input-field w-full px-4 py-3 rounded-lg border border-gray-300 focus:outline-none focus:border-indigo-500',
                'data-action': 'blur->store-form#validateField',
                'data-field': 'name'
            }
        }) }}
        <div id="store_name_error">
            {{ form_errors(form.name) }}
        </div>
    </div>

    <div>
        {{ form_label(form.company, 'Razão Social:', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.company, {
            'attr': {
                'placeholder': 'Informe a Razão Social',
                'class': 'input-field w-full px-4 py-3 rounded-lg border border-gray-300 focus:outline-none focus:border-indigo-500',
                'data-action': 'blur->store-form#validateField',
                'data-field': 'company'
            }
        }) }}
        <div id="store_company_error">
            {{ form_errors(form.company) }}
        </div>
    </div>

    <div>
        {{ form_label(form.cpf_cnpj, 'CPF ou CPNJ:', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.cpf_cnpj, {
            'attr': {
                'placeholder': 'Informe o CPF ou CNPJ da empresa',
                'class': 'input-field cpf-cnpj-mask w-full px-4 py-3 rounded-lg border border-gray-300 focus:outline-none focus:border-indigo-500',
                'data-action': 'blur->store-form#validateField',
                'data-field': 'cpf_cnpj'
            }
        }) }}
        <div id="store_cpf_cnpj_error">
            {{ form_errors(form.cpf_cnpj) }}
        </div>
    </div>

    <div>
        {{ form_label(form.phone, 'Contato:', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.phone, {
            'attr': {
                'placeholder': 'Padrão (0XX)XXXX-XXXX',
                'class': 'input-field phone-mask w-full px-4 py-3 rounded-lg border border-gray-300 focus:outline-none focus:border-indigo-500',
                'data-action': 'blur->store-form#validateField',
                'data-field': 'phone'
            }
        }) }}
        <div id="store_phone_error">
            {{ form_errors(form.phone) }}
        </div>
    </div>

    <div>
        {{ form_label(form.postal_code, 'Código Postal:', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.postal_code, {
            'attr': {
                'placeholder': 'Padrão XXXXX-XXX',
                'class': 'input-field cep-mask w-full px-4 py-3 rounded-lg border border-gray-300 focus:outline-none focus:border-indigo-500',
                'data-action': 'blur->store-form#validateField',
                'data-field': 'postal_code'
            }
        }) }}
        <div id="store_postal_code_error">
            {{ form_errors(form.postal_code) }}
        </div>
    </div>

    <div>
        {{ form_label(form.address, 'Endereço', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.address, {
            'attr': {
                'placeholder': 'Informe o endereço',
                'class': 'input-field w-full px-4 py-3 rounded-lg border border-gray-300 focus:outline-none focus:border-indigo-500',
                'data-action': 'blur->store-form#validateField',
                'data-field': 'address'
            }
        }) }}
        <div id="store_address_error">
            {{ form_errors(form.address) }}
        </div>
    </div>

    <div>
        {{ form_label(form.address_number, 'Número do Endereço', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.address_number, {
            'attr': {
                'placeholder': 'Número da rua',
                'class': 'input-field w-full px-4 py-3 rounded-lg border border-gray-300 focus:outline-none focus:border-indigo-500',
                'data-action': 'blur->store-form#validateField',
                'data-field': 'address_number'
            }
        }) }}
        <div id="store_address_number_error">
            {{ form_errors(form.address_number) }}
        </div>
    </div>

    <div>
        {{ form_label(form.city, 'Cidade', {'label_attr': {'class': 'block text-sm font-medium text-gray-700'}}) }}
        {{ form_widget(form.city, {
            'attr': {
                'placeholder': 'Selecione a cidade',
                'class': 'input-field w-full px-4 py-3 rounded-lg border border-gray-300 focus:outline-none focus:border-indigo-500',
                'data-action': 'change->store-form#validateField',
                'data-field': 'city'
            }
        }) }}
        <div id="store_city_error">
            {{ form_errors(form.city) }}
        </div>
    </div>

    <div class="flex items-center space-x-4">
        <label class="text-sm font-medium text-black-700">Ativo</label>
        <label class="relative inline-flex items-center cursor-pointer">
            {{ form_widget(form.active, {
                'attr': {
                    'class': 'sr-only peer'
                }
            }) }}
            <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-blue-500 rounded-full peer dark:bg-gray-700 peer-checked:bg-blue-600 transition-all duration-300"></div>
            <div class="absolute left-1 top-1 w-4 h-4 bg-white rounded-full transition-transform duration-300 peer-checked:translate-x-full"></div>
        </label>
    </div>

    <div class="flex justify-between mt-6">
        <div class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
             {{ form_widget(form.submit, {
                 'attr': {
                     'data-action': 'click->store-form#save'
                 }
             }) }}
        </div>
    </div>
</div>

{{ form_rest(form) }}
{{ form_end(form) }}

<script>
    // Apply masks after the form is loaded
    document.addEventListener('DOMContentLoaded', function() {
        applyInputMasks();
    });
</script>