{{ form_start(form, {'attr': {'id': 'inventory-form', 'data-turbo-stream': 'true', 'data-controller': 'inventory-form'}}) }}
{{ form_errors(form) }}

<div class="bg-gray-100 rounded-xl shadow-lg p-6 flex flex-col md:flex-row gap-6">
    <div>
        {{ form_label(form.product, 'Produto:', {'label_attr': {'class': 'block text-sm font-medium text-black-700'}}) }}
        {{ form_widget(form.product, {
            'attr': {
                'placeholder': 'Selecione o produto',
                'class': 'w-full p-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-purple-500',
                'data-action': 'change->inventory-form#validateField',
                'data-field': 'product'
            }
        }) }}
        <div id="inventory_product_error">
            {{ form_errors(form.product) }}
        </div>
    </div>

    <div>
        {{ form_label(form.store, 'Loja:', {'label_attr': {'class': 'block text-sm font-medium text-black-700'}}) }}
        {{ form_widget(form.store, {
            'attr': {
                'placeholder': 'Selecione a loja',
                'class': 'w-full p-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-purple-500',
                'data-action': 'change->inventory-form#validateField',
                'data-field': 'store'
            }
        }) }}
        <div id="inventory_store_error">
            {{ form_errors(form.store) }}
        </div>
    </div>

    <div>
        {{ form_label(form.quantity, 'Quantidade:', {'label_attr': {'class': 'block text-sm font-medium text-black-700'}}) }}
        {{ form_widget(form.quantity, {
            'attr': {
                'placeholder': 'Informe a quantidade em estoque',
                'class': 'input-field w-full p-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-purple-500',
                'data-action': 'blur->inventory-form#validateField',
                'data-field': 'quantity'
            }
        }) }}
        <div id="inventory_quantity_error">
            {{ form_errors(form.quantity) }}
        </div>
    </div>

    <div>
        {{ form_label(form.price, 'Preço:', {'label_attr': {'class': 'block text-sm font-medium text-black-700'}}) }}
        {{ form_widget(form.price, {
            'attr': {
                'placeholder': 'Informe o preço ',
                'class': 'input-field price-mask w-full p-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-purple-500',
                'data-action': 'blur->inventory-form#validateField',
                'data-field': 'price'
            }
        }) }}
        <div id="inventory_price_error">
            {{ form_errors(form.price) }}
        </div>
    </div>

<div class="flex justify-between mt-6">
    <div class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
         {{ form_widget(form.submit, {
             'attr': {
                 'data-action': 'click->inventory-form#save'
             }
         }) }}
    </div>
</div>
</div>

{{ form_rest(form) }}
{{ form_end(form) }}
