<tr id="inventory_{{ inventory.id }}" class="hover:bg-black hover:bg-opacity-25">
    <td class="px-4 py-2 text-sm">{{ inventory.id }}</td>
    <td class="px-4 py-2 text-sm">{{ inventory.product.name }}</td>
    <td class="px-4 py-2 text-sm">{{ inventory.store.name }}</td>
    <td class="px-4 py-2 text-sm">{{ inventory.quantity }}</td>
    <td class="px-4 py-2 text-sm">{{ inventory.price }}</td>
    <td class="px-4 py-2 text-sm">
        <button type="button"
                class="edit-button"
                data-inventory-id="{{ inventory.id }}">
            Editar
        </button>
    </td>
</tr>
