{% extends 'base.html.twig' %}

{% block title %}BN - Produtos{% endblock %}

{% block StyleSheets %}

{% endblock %}

{% block body %}

    <form method="post" class="space-y-6">
        {{ form_start(form) }}
        {{ form_errors(form) }}

        <h1 class="text-xl font-bold mb-4">{{ tittle }}</h1>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {{ form_row(form.name, {
                'label': 'Nome:',
                'attr': {
                    'placeholder': 'Informe o Nome',
                    'class': 'input-field w-full px-4 py-3 rounded-lg border border-gray-300 focus:outline-none focus:border-indigo-500'
                }
            }) }}

            {{ form_row(form.description, {
                'label': 'Descrição:',
                'attr': {
                    'placeholder': 'Descrição',
                    'class': 'input-field w-full px-4 py-3 rounded-lg border border-gray-300 focus:outline-none focus:border-indigo-500'
                }
            }) }}

            {{ form_row(form.supplier, {
                'label': 'Fornecedor:',
                'attr': {
                    'placeholder': 'Descrição',
                    'class': 'input-field w-full px-4 py-3 rounded-lg border border-gray-300 focus:outline-none focus:border-indigo-500'
                }
            }) }}

            {{ form_row(form.category, {
                'label': 'Fornecedor:',
                'attr': {
                    'placeholder': 'Descrição',
                    'class': 'input-field w-full px-4 py-3 rounded-lg border border-gray-300 focus:outline-none focus:border-indigo-500'
                }
            })

            }}
        </div>

        <div class="flex items-center space-x-4">
            <label class="text-sm font-medium text-black-700">Ativo</label>
            <label class="relative inline-flex items-center cursor-pointer">
                {{ form_widget(form.active, {
                    'attr': {
                        'class': 'sr-only peer'
                    }
                }) }}
                <div class="w-11 h-6 bg-gray-200 peer-focus:outline-none peer-focus:ring-2 peer-focus:ring-blue-500 rounded-full peer dark:bg-gray-700 peer-checked:bg-blue-600 transition-all duration-300"></div>
                <div class="absolute left-1 top-1 w-4 h-4 bg-white rounded-full transition-transform duration-300 peer-checked:translate-x-full"></div>
            </label>
        </div>


        <div class="flex justify-between mt-6">
            <div class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
                {{ form_widget(form.submit) }}
            </div>
        </div>

        {{ form_rest(form) }}
        {{ form_end(form) }}
    </form>


    <h2 class="text-xl font-semibold my-6">Lista de Produtos</h2>

    <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200 border border-gray-300">
            <thead class="bg-gray-100">
            <tr>
                <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">ID</th>
                <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Nome</th>
                <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Categoria</th>
                <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Fornecedor</th>
                <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Ativo</th>
                <th class="px-4 py-2 text-left text-sm font-medium text-gray-700">Ações</th>
            </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
            {% for product in products %}
                <tr class="hover:bg-gray-50">
                    <td class="px-4 py-2 text-sm">{{ product.id }}</td>
                    <td class="px-4 py-2 text-sm">{{ product.name }}</td>
                    <td class="px-4 py-2 text-sm">{{ product.category.name }}</td>
                    <td class="px-4 py-2 text-sm">{{ product.supplier.name }}</td>
                    <td class="px-4 py-2 text-sm">{{ product.active ? 'Sim' : 'Não' }}</td>
                    <td class="px-4 py-2 text-sm">
                        <a href="#" class="text-blue-600 hover:text-blue-900">Editar</a>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>

{% endblock %}
